{% extends 'userhome.html' %}

{% block content %}
<style>
#changepassword{margin:20px;
background-color: rgb(104, 103, 100);
width: 500px;
padding: 30px;
border-radius: 30px;
color: rgb(240, 162, 210);

}
td{
    margin:20px;
    padding:20px
}

</style>
<center>
<div id="changepassword">
{{ success }}
<form method="POST" action="/user/changepassword/">
{% csrf_token %}
<h2> Change Password</h2>
<table>
<tr>
<td>Enter Current Password :</td>
<td> <input type="password" name="current_password"></td>
</tr>

<tr>
<td> Enter New Password :</td>
<td> <input type="password" name="new_password"></td>
</tr>

<tr>
<td>Re-enter New Password :</td>
<td> <input type="password" name="new_2_password"></td>
</tr>

</table>
<tr><td>
<input type="submit" name="submit">
</td></tr>
</form>
</div>
</center>

{% endblock content %}