{% extends 'master.html' %}
{% load static %}
{% block mh %}

<!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="{%static 'images/aboutlogo.png'%}" alt="eAuction" style="width:50px;height:40px;"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/myadmin/" class="active">Admin Home</a></li>
                            <li><a href="/myadmin/manageusers/" >Manage Users</a></li>
                            <li><a href="/myadmin/addcategory/" >Add Category</a></li>
                            <li><a href="/myadmin/addsubcategory/" >Add Sub Category</a></li>
                            <li><a href="/myadmin/editadminprofile/" >Edit Profile</a></li>
                            <li><a href="/myadmin/changeadminpassword/" >Change Password</a></li>
                             <li><a href="/login/" >Log Out</a></li>
                            
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
   
{% endblock mh %}

{% block admin %}
<h1> Welcome to admin home</h1>
<p>Admin:{{Email_track}}</p>
<a href="/myadmin/" class="main-button-slider">Admin Home</a>
{% endblock admin %}

{% block content %}

{% endblock  %}