{% extends 'master.html' %}
{% load static%}


 {% block background_image %}
    <style>
        #form{
            font-size: medium;
            background-color: rgb(68, 131, 173);
            width: 500px;
            height: 390px;
            margin: 30px;
            border-radius: 30px;
            padding: 20px;
        }
        #forget a{
            color: black;
            /* background-color: rgb(249, 65, 255);
            padding: 6px;
            border-radius: 20px; */
        }
    </style>
    {{Email_track}}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="{%static 'images/aboutlogo.png'%}" alt="eAuction" style="width:50px;height:40px;"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/service/">Services</a></li>
                            <li><a href="/register/">Register</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
                             <li><a href="/login/">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
   
    <!-- ***** Header Area End ***** -->
 

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        {{Email_track}}
<center>
<div id="form">
    <h2>{{msg}}</h2>

    <h1 >Login Here </h1>
    <br>
    <form class="form" action="/login/" cellpadding="5" method="POST">
        {% csrf_token %}
        <label for="email" >Email address:</label>
        <input type="email"  placeholder="Enter email" name="email" width="500px" height="200px">
        
        <br><br>
        <label for="pwd" >Password:</label>
        <input type="password" name="password" placeholder="Enter password" >
        <br><br>
        
        
        <div>
            <button type="submit"  name="s" value="login">Submit</button>
        </div>
        </form>
        <br>
        <span id="forget">
            
            <a href="#" >Forget Password</a>
            <br>
            <a href="/register/" >Register Now</a>
        </span>
    <div>
</center>
    </div>
    <!-- ***** Welcome Area End ***** -->

   {% endblock background_image %}



<!-- some changes -->








<!-- --------------------------------------------------------------- -->

<!-- <div class="form-check mb-2 mr-sm-2">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember Me
          </label>
        </div> -->



        
        <!-- ***** Header Text Start ***** -->
        <!-- <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    {% block admin %}
                        <h1>We provide the best <strong>e-Items</strong><br>which you would not discover anywhere</h1>
                        
                        <a href="#features" class="main-button-slider">Discover More</a>
                    {% endblock admin %}
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ***** Header Text End ***** -->